<div >

    <h2>Actualizar Datos de Usuario</h2>

    <div class="row">
        <div class="col-lg-6">

            <div>

                <div class="form-group">
                    <label class="label-form-mapamunipy">Nombre</label>
                    <input class="form-control" placeholder="Nombre" id="nombre" name="nombre" [(ngModel)]="nombre">
                </div>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Apellido</label>
                    <input class="form-control" placeholder="Apellido" id="apellido" name="apellido" [(ngModel)]="apellido">
                </fieldset>

                <div class="form-group">
                    <label class="label-form-mapamunipy">Nombre de Usuario</label>
                    <input class="form-control" placeholder="Nombre de Usuario" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario">
                </div>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Documento</label>
                    <input class="form-control" placeholder="Número de Cédula" id="ci" name="ci" [(ngModel)]="ci">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Dirección</label>
                    <input class="form-control" placeholder="Dirección de domicilio" id="direccion" name="direccion" [(ngModel)]="direccion">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Cta. Cte. Catastral</label>
                    <input class="form-control" placeholder="Cta. Cte. Catastral" id="ctaCatastral" name="ctaCatastral" [(ngModel)]="ctaCatastral">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Teléfono</label>
                    <input class="form-control" placeholder="Teléfono" id="telefono" name="telefono" [(ngModel)]="telefono">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Correo</label>
                    <input class="form-control" placeholder="Correo" type="email" id="correo" name="correo" [(ngModel)]="correo">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Ubicación de su casa</label>
                    <app-location-picker [markerCoord]="miCurrentCoord" [markerImagePath]="'assets/images/home-marker.png'" (locationClicked)="locationPicked($event)"></app-location-picker>
                </fieldset>

                <button type="button" class="btn  btn-submit-mapamunipy" (click)="actualizarDatosUsuario()">Actualizar</button>
                <button type="button" class="btn  btn-submit-mapamunipy btn-cancelar-dataset" (click)="cancelar()">Cancelar</button>

            </div>

        </div>

    </div>
</div>
