<p-growl></p-growl>
<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo-horizontal-rohayhuveAsu.png" width="300px"/>
            <h1>MapaMuni</h1>
            <form role="form">
                <div class="form-content">
                    <h3>Datos personales</h3>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Nombre (Obligatorio)"
                               type="text" required
                               [(ngModel)]="nombre" name="nombre" id="nombre">
                    </div>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Apellido" required
                               [(ngModel)]="apellido" name="apellido" id="apellido">
                    </div>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Usuario" type="text" required
                               [(ngModel)]="usuario" name="usuario" id="usuario">
                    </div>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Número de Cédula"
                               [(ngModel)]="documento" name="documento" id="documento">
                    </div>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Dirección de domicilio"
                               [(ngModel)]="direccion" name="direccion" id="direccion">
                    </div>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Cta. Cte. Catastral"
                               [(ngModel)]="ctacatastral" name="ctacatastral" id="ctacatastral">
                    </div>

                    <div class="form-group">
                        <label>Seleccione la ubicación de su casa</label>
                        <app-location-picker [markerImagePath]="'assets/images/home-marker.png'"
                                             (locationClicked)="locationPicked($event)"></app-location-picker>
                    </div>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Teléfono" type="text"
                               [(ngModel)]="telefono" name="telefono" id="telefono">
                    </div>


                    <h3>Información de Acceso</h3>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Correo (Obligatorio)"
                               type="email" required
                               [(ngModel)]="email" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Contraseña" type="password"
                               required
                               [(ngModel)]="passwordInicial" name="passwordInicial" id="passwordInicial">
                    </div>

                    <div class="form-group">
                        <input class="form-control input-underline input-lg" placeholder="Repetir Contraseña"
                               type="password" required
                               [(ngModel)]="passwordRepetido" name="passwordRepetido" id="passwordRepetido"
                               #passwordRepetidoInput (keyup)="onKeyPasswordAgain(passwordRepetidoInput.value)">
                    </div>

                    <div class="form-group" *ngIf="(tokenFb || tokenGg) != null">


                        <div class="input-group">
                            <label *ngIf="tokenFb != null">Cuenta enlazada con Facebook {{email}}</label>
                            <button *ngIf="tokenFb != null" disabled class="third-login-btn facebook-btn">
                                <span class="text-white text-base ico-facebook-stroke">
                                </span>
                                <span class="text-white text-sm"> {{email}}</span>
                            </button>
                        </div>

                        <div class="input-group">
                            <label *ngIf="tokenGg != null">Cuenta enlazada con Google </label>
                            <button *ngIf="tokenGg != null" disabled class="third-login-btn google-btn">
                                <span class="ico i-google-icon">
                                    <img src="assets/images/google-icon2.png" width="20px"/>
                                </span>
                                <span class="text-black text-sm"> {{email}}</span>
                            </button>
                        </div>

                        <!--<label *ngIf="tokenFb != null">Cuenta enlazada con Facebook {{email}}</label>-->
                        <!--<label *ngIf="tokenGg != null">Cuenta enlazada con Google </label>-->
                        <!--<button *ngIf="tokenGg != null" disabled class="third-login-btn google-btn">-->
                        <!--<span class="ico i-google-icon">-->
                            <!--<img src="assets/images/google-icon2.png" width="20px"/>-->
                        <!--</span>-->
                            <!--<span class="text-black text-sm"> {{email}}</span>-->
                        <!--</button>-->
                        <!--<button *ngIf="tokenFb != null" disabled class="third-login-btn facebook-btn">-->
                        <!--<span class="text-white text-base ico-facebook-stroke">-->
                        <!--</span>-->
                            <!--<span class="text-white text-sm"> {{email}}</span>-->
                        <!--</button>-->
                    </div>

                </div>

                <!--<div>-->
                    <!--<button class="btn rounded-btn" (click)="registrarse()"-->
                            <!--[disabled]="passwordInicial !== passwordRepetido"> Registrar-->
                    <!--</button>&nbsp;-->
                    <!--<button class="btn rounded-btn" [routerLink]="['/login']"> Iniciar Sesión</button>-->
                <!--</div>-->

                <!-- -->
                <div class="input-group" style="padding-left: 15%; padding-top: 5%;">
                    <!--<label class="sub-label-mapamunipy">Nombre de columna:</label>-->
                    <!--<input class="form-control" placeholder="Nombre"-->
                           <!--[(ngModel)]="nombreColumna" name="nombreColumna" id="nombreColumna">-->

                    <!--<label class="sub-label-mapamunipy">Descripción de columna:</label>-->
                    <!--<input class="form-control" placeholder="Descripción"-->
                           <!--[(ngModel)]="descripcionColumna" name="descripcionColumna" id="descripcionColumna">-->

                    <!--<button type="button" class="btn  btn-submit-mapamunipy sub-label-mapamunipy" (click)="agregarColumna()">-->
                        <!--<i class="fa fa-plus"></i>-->
                    <!--</button>-->
                    <button class="btn rounded-btn" (click)="registrarse()"
                            [disabled]="passwordInicial !== passwordRepetido"> Registrar
                    </button>&nbsp;
                    <button class="btn rounded-btn" [routerLink]="['/login']"> Iniciar Sesión</button>
                </div>
                <!-- -->
            </form>
        </div>
    </div>
</div>
