<div >

    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>

    <!-- Barras -->
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Estadisticas de usuarios
                </div>
                <div class="card-body">
                    <canvas *ngIf="u_barChartData" baseChart [datasets]="u_barChartData" [labels]="u_barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <!--<div class="card-footer">-->
                <!--<button class="btn btn-info btn-sm" (click)="randomize()">Update</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <hr />

    <div class="row" *ngFor="let otipo of d_barChartData">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Cantidades de Denuncia de tipo {{ otipo.tipo }} en cada Estado
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="otipo.data" [labels]="otipo.labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <!--<div class="card-footer">-->
                <!--<button class="btn btn-info btn-sm" (click)="randomize()">Update</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <!-- Cantidades -->
    <hr />

    <div class="row" *ngFor="let otipo of i_barChartData">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Cantidades de Intervencion de tipo {{ otipo.tipo }} en cada Estado
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="otipo.data" [labels]="otipo.labels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <!--<div class="card-footer">-->
                <!--<button class="btn btn-info btn-sm" (click)="randomize()">Update</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>


    <!--<div class="row">-->
        <!--<div class="col-xl-3 col-lg-6">-->
            <!--<app-stat [bgClass]="'success'" [icon]="'fa-comments'" [count]="26" [label]="'Cantidad de PMT en línea'" ></app-stat>-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-6">-->
            <!--<app-stat [bgClass]="'danger'" [icon]="'fa-car'" [count]="12" [label]="'Cantidad de accidentes'" ></app-stat>-->
        <!--</div>-->
        <!--<div class="col-xl-3 col-lg-6">-->
            <!--<app-stat [bgClass]="'warning'" [icon]="'fa-ban'" [count]="124" [label]="'Cantidad de infracciones'" ></app-stat>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="col-xl-3 col-lg-6">&ndash;&gt;-->
            <!--&lt;!&ndash;<app-stat [bgClass]="'primary'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<hr />-->

</div>
