<p-growl class="myOverride"></p-growl>
<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="main-container">
    <router-outlet></router-outlet>
</section>

<!--<nav class="navbar navbar-expand-lg fixed-bottom fondo-footer">-->
    <!--<a class="navbar-brand footer-text-mapamunipy" (click)="abrirNuevoTabInnovandoPyHackaton()">&lt;!&ndash;href="https://hackathon.innovando.gov.py/edicion-2018"&ndash;&gt;-->
        <!--<img src="assets/images/InnovandoPy-hackathon.png" class="image-logo-footer">&nbsp;-->
    <!--</a>-->
    <!--<a class="navbar-brand footer-text-mapamunipy" (click)="abrirNuevoTabSenatics()">&lt;!&ndash;href="https://www.senatics.gov.py/"&ndash;&gt;-->
        <!--<img src="assets/images/Logo-SENATICs.png" class="image-logo-footer">-->
    <!--</a>-->
<!--</nav>-->

<footer class="page-footer font-small blue pt-4 mt-4" style="padding-top : 0 !important; margin-top: 0 !important;">
    <div class=" text-center py-3" style="padding-top: 0 !important;">
        <a href="https://hackathon.innovando.gov.py/edicion-2018">
            <img src="assets/images/InnovandoPy-hackathon.png" class="image-logo-footer">
        </a>
        <a href="https://www.senatics.gov.py/">
            <img src="assets/images/Logo-SENATICs.png" class="image-logo-footer">
        </a>
    </div>
</footer>

