.main-container {
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
.footer-text-mapamunipy {
    color: rgba(243, 113, 39, 0.95);
    position: relative;
    left: 40%;

    width: 150px !important;
}
.image-logo-footer {
    width: 13%;
    height: 3%;
}
.fondo-footer {
    background-color: #16181b;
    height: 4%;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
@media print {
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}

.myOverride .ui-growl {
    top: 80px !important;
}