<div >

    <h2>Cambiar Contraseña</h2>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Contraseña Actual</label>
                    <input class="form-control" placeholder="Contraseña Actual" type="password" id="passwordActual" name="passwordActual" [(ngModel)]="passwordActual">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Contraseña Nueva</label>
                    <input class="form-control" placeholder="Contraseña Nueva" type="password" id="passwordNuevo" name="passwordNuevo" [(ngModel)]="passwordNuevo">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Repetir Contraseña</label>
                    <input class="form-control" placeholder="Repetir Contraseña" type="password" id="passwordRepetido" name="passwordRepetido" [(ngModel)]="passwordRepetido"
                           #passwordRepetidoInput (keyup)="onKeyPasswordAgain(passwordRepetidoInput.value)">
                </fieldset>

                <button [disabled]="passwordNuevo !== passwordRepetido"
                        type="button" class="btn  btn-submit-mapamunipy" (click)="actualizarPassword()">Actualizar</button>
                <button type="button" class="btn  btn-submit-mapamunipy btn-cancelar-dataset" (click)="cancelar()">Cancelar</button>

            </form>

        </div>

    </div>
</div>
