.btn-submit-mapamunipy {
  color: #fff;
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.label-form-mapamunipy {
  font-weight: bold;
}

.btn-cancelar-dataset {
  margin-left: 10px;
}
