/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

//@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.11/css/font-awesome.min.css');
@import url('https://mapskincdn.appspot.com/1.0/mapskin.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');


@import '~mangol/src/assets/scss/mangol';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');