.btn-submit-mapamunipy {
  color: #fff;
  //background-color: #337ab7;
  //border-color: #2e6da4;
  //border-top-color: rgb(46, 109, 164);
  //border-right-color: rgb(46, 109, 164);
  //border-bottom-color: rgb(46, 109, 164);
  //border-left-color: rgb(46, 109, 164);
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.btn-donwload-image-mapamunipy {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
  //border-top-color: rgb(140, 140, 140);
  //border-right-color: rgb(140, 140, 140);
  //border-bottom-color: rgb(140, 140, 140);
  //border-left-color: rgb(140, 140, 140);
}

.label-obs-mapamunipy {
  font-style: italic;
}

.label-form-mapamunipy {
  font-weight: bold;
}

agm-map {
  height: 300px;
}
