<div >
    <!--<app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>-->

    <h2>Registro de Accidente</h2>
    <label class="label-obs-mapamunipy">Obs: Con este registro del accidente se convoca a la PMT, la cual será
        notificada para ir al lugar del accidente en la brevedad posible.</label>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Nombre y Apellido</label>
                    <input class="form-control" placeholder="Nombre y Apellido">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Documento</label>
                    <input class="form-control" placeholder="Número de Cédula">
                </fieldset>

                <fieldset class="form-group">
                    <i class="fa fa-map-marker-alt"></i>
                    <label class="label-form-mapamunipy">Haga click sobre el mapa para marcar la ubicación del
                        accidente</label>
                    <mangol [config]="config" (mapReady)="onMapReady1($event)"></mangol>
                </fieldset>

                <div class="form-group">
                    <label class="label-form-mapamunipy">Motivo del Accidente</label>
                    <select class="form-control">
                        <option *ngFor="let motivo of motivos"
                                value={{motivo}}>{{motivo}}
                        </option>
                    </select>
                </div>

                <!--<fieldset class="form-group">-->
                    <!--<label class="label-form-mapamunipy">Barrio</label>-->
                    <!--<input class="form-control" placeholder="Seleccione en el mapa" value="{{barrio}}" readonly>-->
                <!--</fieldset>-->

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Descripción del accidente</label>
                    <textarea class="form-control" rows="3"></textarea>
                </fieldset>

                <fieldset class="form-group">
                    <i class="fa fa-plus"></i>&nbsp;
                    <label class="label-form-mapamunipy" for="exampleInputFile">Subir Imagen</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                </fieldset>

                <button type="button" class="btn  btn-submit-mapamunipy">Enviar denuncia</button>

            </form>

        </div>

    </div>
</div>
