<div >
  <h2>Mis Intervenciones</h2>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3" style="min-height: 60vh;">
        <div class="card-header">
          Lista de mis intervenciones
          <button type="button" class="pull-right btn  btn-nuevo-intervencion-mapamuni sub-label-mapamunipy" (click)="agregarMiIntervencion()">
            <i class="fa fa-plus"></i> Crear Mi Intervención
          </button>
        </div>
        <div class="card-body table-responsive">

          <p-paginator [rows]="xpag" [totalRecords]="cnt_denuncias" [rowsPerPageOptions]="[5,10,20,30]"
                       (onPageChange)="paginate($event)">
          </p-paginator>

          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th>Tipo</th>
              <th>Motivo</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Estado</th>
              <th>Detalles</th>
            </tr>
            </thead>

            <tbody *ngIf="intervenciones != null && intervenciones.length > 0">
            <tr *ngFor="let intervencion of intervenciones; let i = index">
              <td>
                {{intervencion.motivo.tipo.nombre}}
              </td>
              <td>
                {{intervencion.motivo.nombre}}
              </td>
              <td>
                {{intervencion.nombre}}
              </td>
              <td>
                {{intervencion.descripcion}}
              </td>
              <td>
                {{intervencion.estado.nombre}}
              </td>
              <td>
                <button type="button" class="btn  btn-editar-exportar-dataset-mapamuni" (click)="editarMiIntervencion(intervencion)">
                  <i class="fa fa-info-circle"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
