<div >

  <h2>Recepción de Denuncias Ciudadanas</h2>

  <div class="row">
    <div class="col-lg-12">

        <div class="row tabla-mapamuni">
          <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3" style="min-height: 60vh;">
              <div class="card-header">
                Lista de Denuncias Ciudadanas
                <button type="button" class="pull-right btn  btn-nueva-denuncia-mapamuni sub-label-mapamunipy" (click)="agregarDenunciaTelefonica()">
                  <i class="fa fa-plus"></i> Crear Denuncia Telefónica
                </button>
              </div>
              <div class="card-body table-responsive">

                <p-dataTable #dt [value]="denuncias" [paginator]="true" [rows]="5" [totalRecords]="cnt_denuncias" [responsive]="true"
                             [lazy]="true" [rowsPerPageOptions]="[5,10,20]" (onLazyLoad)="loadDenunciasLazy($event)" [paginatorPosition]="'top'" [emptyMessage]="'No se encontraron registros'">

                  <p-column field="motivo.tipo.nombre" header="Tipo"  [filter]="true" >
                    <ng-template pTemplate="filter" let-col>
                      <p-dropdown [options]="tiposDenuncia" [optionLabel]="'nombre'" [style]="{'width':'100%'}"  styleClass="ui-column-filter"
                                  (onChange)="dt.onFilterKeyup($event.value.id,  'id_tipo', null)" ></p-dropdown>
                    </ng-template>
                  </p-column>

                  <p-column field="motivo.nombre" header="Motivo"  [filter]="true" >
                    <ng-template pTemplate="filter" let-col>
                      <p-dropdown [options]="motivosDenuncia" [optionLabel]="'nombre'" [style]="{'width':'100%'}"  styleClass="ui-column-filter"
                                  (onChange)="dt.onFilterKeyup($event.value.id,  'id_motivo', null)" ></p-dropdown>
                    </ng-template>
                  </p-column>

                  <p-column field="nombre" header="Título" [filter]="true" filterPlaceholder="Search"></p-column>

                  <p-column field="estado.nombre" header="Estado"  [filter]="true" >
                    <ng-template pTemplate="filter" let-col>
                      <p-dropdown [options]="estados" [optionLabel]="'nombre'" [style]="{'width':'100%'}" styleClass="ui-column-filter"
                                  (onChange)="dt.onFilterKeyup($event.value.id,  'id_estado', null)" ></p-dropdown>
                    </ng-template>
                  </p-column>

                  <p-column header="Detalles/Intervenir">
                    <ng-template let-denuncia="rowData" pTemplate="body">
                      <div style="text-align: center !important;">
                      <button type="button" class="btn  btn-editar-exportar-dataset-mapamuni" (click)="verDetalleDenunciaTelefonica(denuncia)">
                        <i class="fa fa-info-circle"></i>
                      </button>&nbsp;

                      <button type="button" class="btn  btn-editar-exportar-dataset-mapamuni" (click)="intervenir(denuncia)"
                              *ngIf="denuncia.motivo.tipo.intervenible && !denuncia.intervenida">
                        <i class="fa fa-hand-paper-o fa-flip-horizontal"></i>
                      </button>
                      </div>
                    </ng-template>
                  </p-column>

                </p-dataTable>

              </div>
            </div>
          </div>
        </div>

    </div>

  </div>
</div>
