.btn-nueva-denuncia-mapamuni {
  color: #fff;
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.tabla-mapamuni {
  margin-top: 2%;
}


//.detalle-column {
//ui-state-default ui-unselectable-text ng-star-inserted {
//  width: 10% !important;
//}
//.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
//.ui-datatable .ui-datatable-data>tr>td {
//  text-align: center !important;
//}
