<div>

    <h2>Formulario de Conjunto de Datos</h2>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Nombre</label>
                    <input class="form-control" placeholder="Nombre" [(ngModel)]="nombre" name="nombre" id="nombre">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Descripción</label>
                    <input class="form-control" placeholder="Descripción" [(ngModel)]="descripcion" name="descripcion" id="descripcion">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Consulta a la base de datos</label>
                    <textarea class="form-control" rows="3" [(ngModel)]="query" name="query" id="query"></textarea>
                </fieldset>

                <label class="label-form-mapamunipy">Columna para el Diccionario: </label>
                <div class="input-group">
                    <label class="sub-label-mapamunipy">Nombre de columna:</label>
                    <input class="form-control" placeholder="Nombre"
                           [(ngModel)]="nombreColumna" name="nombreColumna" id="nombreColumna">

                    <label class="sub-label-mapamunipy">Descripción de columna:</label>
                    <input class="form-control" placeholder="Descripción"
                           [(ngModel)]="descripcionColumna" name="descripcionColumna" id="descripcionColumna">

                    <button type="button" class="btn  btn-submit-mapamunipy sub-label-mapamunipy" (click)="agregarColumna()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

                <div class="row tabla-columnas-diccionario">
                    <div class="col col-xl-12 col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                Columnas del Diccionario
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nombre de Columna</th>
                                        <th>Descripción de Columna</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody *ngIf="columnasDiccionario.length > 0">
                                    <tr *ngFor="let columnaDiccionario of columnasDiccionario; let i = index">
                                        <td>
                                            {{columnaDiccionario.nombre}}
                                        </td>
                                        <td>
                                            {{columnaDiccionario.descripcion}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn  btn-submit-mapamunipy sub-label-mapamunipy" (click)="borrarColumna(columnaDiccionario)">
                                                <i class="fa fa-times-circle size-icon-mapamuni"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn  btn-submit-mapamunipy" (click)="guardarDataset()">Guardar</button>
                <button type="button" class="btn  btn-submit-mapamunipy btn-cancelar-dataset" (click)="cancelar()">Cancelar</button>

            </form>

        </div>

    </div>
</div>
