.btn-submit-mapamunipy {
  color: #fff;
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.label-form-mapamunipy {
  font-weight: bold;
}

.sub-label-mapamunipy {
  margin-left: 3%;
  margin-right: 1%;
}

.tabla-columnas-diccionario {
  margin-top: 2%;
}

.size-icon-mapamuni {
  font-size: x-large;
}

.btn-cancelar-dataset {
  margin-left: 10px;
}