
<div class="loadingMessage" style="min-height: 80vh; padding-top: 5%">
  <h2 class="text-loadingMessage">Bienvenido a</h2>
  <img src="assets/fb.png" width="300px"/>
  <!--<img src="assets/fb.png" class="image-loadingMessage">-->
</div>