
.loadingMessage {
  color: #bbb;
  text-align: center;
}

.text-loadingMessage {
  color: #343a40;
  font-size: 50px;
}

.image-loadingMessage {
  //background: url(../../../assets/images/logo-horizontal-rohayhuveAsu.png) no-repeat;
  width: 220px;
  height: 90px;
}