<div>

  <h2>Detalle del Informe de Intervención PMT</h2>

  <div class="row">
    <div class="col-lg-6">

      <div>
        <div *ngIf="denunciaPreliminar != null">
          <label class="label-form-mapamunipy">Denuncia Preliminar</label>
          <button type="button" class="btn  btn-submit-mapamunipy pull-right" (click)="verDetalleDenuncia()">
            <i class="fa fa-info-circle"></i>
          </button>
        </div>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Tipo de la intervencion</label>
          <input class="form-control" id="tipoIntervencion" name="tipoIntervencion" [(ngModel)]="tipoIntervencion" disabled>
        </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Motivo de la Intervención</label>
          <input class="form-control" id="motivoIntervencion" name="motivoIntervencion" [(ngModel)]="motivoIntervencion" disabled>
        </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Título de la Intervención</label>
          <input class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" disabled>
        </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Descripción de la Intervención</label>
          <input class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" disabled>
        </fieldset>


        <div class="row tabla-columnas-diccionario">
          <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
              <div class="card-header">
                Involucrados
              </div>
              <div class="card-body table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Documento</th>
                    <!--<th>Nombre</th>-->
                    <!--<th>Apellido</th>-->
                  </tr>
                  </thead>
                  <tbody *ngIf="involucrados.length > 0">
                  <tr *ngFor="let involucrado of involucrados; let i = index">
                    <td>
                      {{involucrado.ci}} - {{involucrado.nombre}}, {{involucrado.apellido}}
                    </td>
                    <!--<td>-->
                      <!--{{involucrado.nombre}}-->
                    <!--</td>-->
                    <!--<td>-->
                      <!--{{involucrado.apellido}}-->
                    <!--</td>-->
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!--<fieldset class="form-group">-->
          <!--<label class="label-form-mapamunipy">Subir archivo/s</label>-->
          <!--<p-fileUpload name="archivos" url="http://192.168.183.171:8000/api/archivo/subir" (onUpload)="onUpload($event)" (onClear)="onClearUploads()"-->
                        <!--multiple="multiple" maxFileSize="10000000" withCredentials="true" auto="true" chooseLabel="Agregar" showCancelButton="false" showUploadButton="false">-->
            <!--<ng-template pTemplate="content">-->
              <!--<ul *ngIf="uploadedFiles.length">-->
                <!--<li *ngFor="let file of uploadedFiles">{{file.name}} - {{formatSize(file.size)}}-->
                  <!--<button type="button" icon="pi pi-times" pButton (click)="removeFile($event,file)"></button></li>-->
              <!--</ul>-->
            <!--</ng-template>-->
          <!--</p-fileUpload>-->
        <!--</fieldset>-->

        <!--<fieldset class="form-group">-->
          <!--<label class="label-form-mapamunipy">Seleccione la ubicación de la intervención</label>-->
          <!--<app-location-picker [markerCoord]="miCurrentCoord" (locationClicked)="locationPicked($event)"></app-location-picker>-->
        <!--</fieldset>-->

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Fecha de Creación</label>
          <input class="form-control" id="fechaCreacion" name="fechaCreacion" value="{{fechaCreacion | date: 'dd/MM/yyyy HH:mm:ss'}}" disabled>
        </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Estado</label>
          <input class="form-control" [(ngModel)]="estado" id="estado" name="estado" disabled>
        </fieldset>

        <!--<button type="button" class="btn  btn-submit-mapamunipy btn-cancelar-dataset" (click)="volver()">Volver</button>-->
        <button type="button" class="btn  btn-submit-mapamuni" (click)="finalizarIntervencion()">Finalizar Intervención</button>
        <button type="button" class="btn  btn-submit-mapamuni btn-cancelar" (click)="cancelar()">Cancelar</button>

      </div>

    </div>

  </div>
</div>
