<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">MapaMuni</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <i class="fa fa-bars boton-menu" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <a class="logout"  (click)="onLoggedout()">
                <i class="fa fa-fw fa-power-off"></i> {{ 'Cerrar Sesión' }}
            </a>
        </ul>
    </div>
</nav>
