<div>

  <h2>Formulario de Informe de Intervención PMT</h2>

  <div class="row">
    <div class="col-lg-6">

      <div>
        <div *ngIf="denunciaPreliminar != null">
          <label class="label-form-mapamunipy">Denuncia Preliminar</label>
          <button type="button" class="btn  btn-submit-mapamunipy pull-right" (click)="verDenuncia()">
            <i class="fa fa-info-circle"></i>
          </button>
        </div>

        <div class="form-group">
          <label class="label-form-mapamunipy">Tipo de Intervención</label>
          <select class="form-control" id="tipoI" name="tipoI"
                  [(ngModel)]="tipoIntervencionSeleccionado" (ngModelChange)="getMotivosByTipo(tipoIntervencionSeleccionado)">
            <option *ngFor="let tipoIntervencion of tiposIntervencion"
                    [ngValue]="tipoIntervencion">{{tipoIntervencion.nombre}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="label-form-mapamunipy">Motivo de la Intervención</label>
          <select class="form-control"
                  id="motivoI" name="motivoI"
                  [(ngModel)]="motivoSeleccionado" (ngModelChange)="setMotivoSeleccionado(motivo)">
            <option *ngFor="let motivo of motivos"
                    [ngValue]="motivo">{{motivo.nombre}}
            </option>
          </select>
        </div>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Nombre</label>
          <input class="form-control" placeholder="Nombre" [(ngModel)]="nombre" id="nombre" name="nombre">
        </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Descripcion</label>
          <input class="form-control" placeholder="Descripcion" [(ngModel)]="descripcion" id="descripcion" name="descripcion">
        </fieldset>


        <label class="label-form-mapamunipy">Involucrados</label>
        <div class="input-group"><!--<span class="ui-fluid">-->
          <p-autoComplete [(ngModel)]="ci" [suggestions]="listaSugerencias" (completeMethod)="sugerirPersonas($event)" field="str" [forceSelection]="true" (onClear)="onClear()">
          </p-autoComplete>
           <button type="button" (click)="agregarInvolucrado(ci)" [disabled]="ci==null"> <!--class="btn  btn-submit-mapamunipy sub-label-mapamunipy" -->
                <i class="fa fa-plus"></i>
            </button>
        </div><!--</span>-->
        <div class="row tabla-columnas-diccionario">
          <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
              <div class="card-header">
                Involucrados
              </div>
              <div class="card-body table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody *ngIf="involucrados.length > 0">
                  <tr *ngFor="let involucrado of involucrados; let i = index">
                    <td>
                      {{involucrado.ci}}
                    </td>
                    <td>
                      {{involucrado.nombre}}
                    </td>
                    <td>
                      {{involucrado.apellido}}
                    </td>
                    <td>
                      <button type="button" class="btn  btn-submit-mapamunipy sub-label-mapamunipy" (click)="borrarColumna(involucrado)">
                        <i class="fa fa-times-circle size-icon-mapamuni"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Subir archivo/s</label>
          <p-fileUpload name="archivos" [url]="uploadService.uploadUrl" (onUpload)="onUpload($event)" (onClear)="onClearUploads()"
                        multiple="multiple" maxFileSize="10000000" withCredentials="true" auto="true" chooseLabel="Agregar" showCancelButton="false" showUploadButton="false">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{formatSize(file.size)}}
                  <button type="button" icon="pi pi-times" pButton (click)="removeFile($event,file)"></button></li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Seleccione la ubicación de la intervención</label>
          <app-location-picker [markerCoord]="miCurrentCoord" (locationClicked)="locationPicked($event)"></app-location-picker>
        </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Estado</label>
          <input class="form-control" placeholder="Estado" [(ngModel)]="estado" id="estado" name="estado" disabled>
        </fieldset>

        <button type="button" class="btn  btn-submit-mapamunipy" (click)="guardarIntervencion()">Guardar</button>
        <button type="button" class="btn  btn-submit-mapamunipy btn-cancelar-dataset" (click)="cancelar()">Cancelar</button>

      </div>

    </div>

  </div>
</div>
