<div >
    <h2>Intervenciones de la PMT</h2>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3" style="min-height: 60vh;">
                <div class="card-header">
                    Lista de intervenciones
                </div>
                <div class="card-body table-responsive">

                    <p-dataTable #dt [value]="intervenciones" [paginator]="true" [rows]="5" [totalRecords]="cnt_intervenciones" [responsive]="true"
                                 [lazy]="true" [rowsPerPageOptions]="[5,10,20]" (onLazyLoad)="loadIntervencionesLazy($event)" [paginatorPosition]="'top'" [emptyMessage]="'No se encontraron registros'">

                        <p-column field="motivo.tipo.nombre" header="Tipo"  [filter]="true" >
                            <ng-template pTemplate="filter" let-col>
                                <p-dropdown [options]="tiposIntervencion" [optionLabel]="'nombre'" [style]="{'width':'100%'}"  styleClass="ui-column-filter"
                                            (onChange)="dt.onFilterKeyup($event.value.id,  'id_tipo', null)" ></p-dropdown>
                            </ng-template>
                        </p-column>

                        <p-column field="motivo.nombre" header="Motivo"  [filter]="true" >
                            <ng-template pTemplate="filter" let-col>
                                <p-dropdown [options]="motivosIntervencion" [optionLabel]="'nombre'" [style]="{'width':'100%'}"  styleClass="ui-column-filter"
                                            (onChange)="dt.onFilterKeyup($event.value.id,  'id_motivo', null)" ></p-dropdown>
                            </ng-template>
                        </p-column>

                        <p-column field="nombre" header="Título" [filter]="true" filterPlaceholder="Search"></p-column>

                        <p-column field="estado.nombre" header="Estado"  [filter]="true" >
                            <ng-template pTemplate="filter" let-col>
                                <p-dropdown [options]="estados" [optionLabel]="'nombre'" [style]="{'width':'100%'}" styleClass="ui-column-filter"
                                            (onChange)="dt.onFilterKeyup($event.value.id,  'id_estado', null)" ></p-dropdown>
                            </ng-template>
                        </p-column>

                        <p-column header="Detalles">
                            <ng-template let-intervencion="rowData" pTemplate="body">
                                <div style="text-align: center !important;">
                                    <button type="button" class="btn  btn-editar-exportar-dataset-mapamuni" (click)="detalleIntervencion(intervencion)">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                </div>
                            </ng-template>
                        </p-column>

                    </p-dataTable>
                </div>
            </div>

        </div>
    </div>
</div>
