<p-growl></p-growl>
<div class="login-page" >
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo-horizontal-rohayhuveAsu.png" width="300px"/>
            <!--<h1>MapaMuni</h1>-->
            <img src="assets/fb.png" width="200px"/>

            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="usuario" class="form-control input-underline input-lg"
                               id="usuario" name="usuario" #usuarioTxt="ngModel" placeholder="Usuario">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" class="form-control input-underline input-lg"
                               id="dsa" name="dsa" placeholder="Contraseña">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()"> Iniciar Sesión </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Registrarse</a>
                <!--<a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>-->
                <!--<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
                <!--<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>-->
                <hr />
                <h2>O inicia sesión con tus cuentas sociales</h2>
                <div class="third-login clearfix">
                    <button (click)="socialSignIn('facebook')" class="third-login-btn facebook-btn">
                        <span class="text-white text-base ico-facebook-stroke">
                            <!--<img src="assets/images/social-facebook-button-blue-icon.png" width="30px"/>-->

                        </span>
                        <span class="text-white text-sm"> Facebook</span>
                    </button>
                    <button (click)="socialSignIn('google')" class="third-login-btn google-btn">
                        <span class="ico i-google-icon">
                            <img src="assets/images/google-icon2.png" width="20px"/>
                        </span>
                        <span class="text-black text-sm"> Google</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
