<div>

    <h2>Crear Mi Denuncia</h2>

    <div class="row">
        <div class="col-lg-6">

            <div>

                <div class="form-group">
                    <label class="label-form-mapamunipy">Tipo de Denuncia</label>
                    <select class="form-control"
                            id="type" #selectType name="type" [(ngModel)]="tipoSeleccionado"
                            (ngModelChange)="getMotivosByTipo(tipoSeleccionado)">
                        <option *ngFor="let tipoDenuncia of tiposDenuncia"
                                [ngValue]="tipoDenuncia">{{tipoDenuncia.nombre}}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="label-form-mapamunipy">Motivo</label>
                    <select class="form-control"
                            id="motivo" #selectMotivo name="motivo" [(ngModel)]="motivo"
                            (ngModelChange)="getMotivoSeleccionado(motivo)">
                        <option *ngFor="let motivo of motivos"
                                [ngValue]="motivo">{{motivo.nombre}}
                        </option>
                    </select>
                </div>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Título de la denuncia</label>
                    <input class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre">
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Describa su denuncia</label>
                    <textarea class="form-control" rows="3" id="descripcion" name="descripcion"
                              [(ngModel)]="descripcion"></textarea>
                </fieldset>


                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Seleccione la ubicación de su denuncia</label>
                    <app-location-picker [markerScale]="0.4" [markerImagePath]="miCurrentMarkerPath"
                                         (locationClicked)="locationPicked($event)"></app-location-picker>
                </fieldset>

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Dirección</label>
                    <input class="form-control" placeholder="Dirección" id="direccion" name="direccion"
                           [(ngModel)]="direccion">
                </fieldset>


                <!--<fieldset class="form-group">-->
                    <!--<label class="label-form-mapamunipy">Barrio</label>-->
                    <!--<input class="form-control" placeholder="Seleccione en el mapa" value="{{barrio}}" id="barrio"-->
                           <!--readonly>-->
                <!--</fieldset>-->

                <fieldset class="form-group">
                    <label class="label-form-mapamunipy">Subir archivo/s</label>
                    <p-fileUpload name="archivos" [url]="uploadService.uploadUrl"
                                  (onUpload)="onUpload($event)" (onClear)="onClearUploads()"
                                  multiple="multiple" maxFileSize="10000000" withCredentials="true" auto="true"
                                  chooseLabel="Agregar" showCancelButton="false" showUploadButton="false">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{formatSize(file.size)}}
                                    <button type="button" icon="pi pi-times" pButton
                                            (click)="removeFile($event,file)"></button>
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </fieldset>

                <button type="button" class="btn  btn-submit-mapamunipy" (click)="guardarDenuncia()">Enviar
                    denuncia
                </button>
                <button type="button" class="btn  btn-submit-mapamunipy btn-cancelar-dataset"
                        (click)="cancelar()">Cancelar
                </button>

            </div>

        </div>

    </div>
</div>
