<div >
    <!--<app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>-->
    <h2>Gestión de Expedientes</h2>
    <!--<div class="row">-->
        <!--<div class="col col-xl-6 col-lg-12">-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">-->
                    <!--Basic example-->
                <!--</div>-->
                <!--<div class="card-body table-responsive">-->
                    <!--<table class="table">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>#</th>-->
                            <!--<th>First Name</th>-->
                            <!--<th>Last Name</th>-->
                            <!--<th>Username</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th scope="row">1</th>-->
                            <!--<td>Mark</td>-->
                            <!--<td>Otto</td>-->
                            <!--<td>@mdo</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">2</th>-->
                            <!--<td>Jacob</td>-->
                            <!--<td>Thornton</td>-->
                            <!--<td>@fat</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">3</th>-->
                            <!--<td>Larry</td>-->
                            <!--<td>the Bird</td>-->
                            <!--<td>@twitter</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">Table head options</div>-->
                <!--<div class="card-body table-responsive">-->
                    <!--<table class="table">-->
                        <!--<thead class="thead-inverse">-->
                        <!--<tr>-->
                            <!--<th>#</th>-->
                            <!--<th>First Name</th>-->
                            <!--<th>Last Name</th>-->
                            <!--<th>Username</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th scope="row">1</th>-->
                            <!--<td>Mark</td>-->
                            <!--<td>Otto</td>-->
                            <!--<td>@mdo</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">2</th>-->
                            <!--<td>Jacob</td>-->
                            <!--<td>Thornton</td>-->
                            <!--<td>@fat</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">3</th>-->
                            <!--<td>Larry</td>-->
                            <!--<td>the Bird</td>-->
                            <!--<td>@twitter</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!--<table class="table">-->
                        <!--<thead class="thead-default">-->
                        <!--<tr>-->
                            <!--<th>#</th>-->
                            <!--<th>First Name</th>-->
                            <!--<th>Last Name</th>-->
                            <!--<th>Username</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th scope="row">1</th>-->
                            <!--<td>Mark</td>-->
                            <!--<td>Otto</td>-->
                            <!--<td>@mdo</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">2</th>-->
                            <!--<td>Jacob</td>-->
                            <!--<td>Thornton</td>-->
                            <!--<td>@fat</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">3</th>-->
                            <!--<td>Larry</td>-->
                            <!--<td>the Bird</td>-->
                            <!--<td>@twitter</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">Bordered table</div>-->
                <!--<div class="card-body table-responsive">-->
                    <!--<table class="table table-bordered">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>#</th>-->
                            <!--<th>First Name</th>-->
                            <!--<th>Last Name</th>-->
                            <!--<th>Username</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th scope="row">1</th>-->
                            <!--<td>Mark</td>-->
                            <!--<td>Otto</td>-->
                            <!--<td>@mdo</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">2</th>-->
                            <!--<td>Mark</td>-->
                            <!--<td>Otto</td>-->
                            <!--<td>@TwBootstrap</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">3</th>-->
                            <!--<td>Jacob</td>-->
                            <!--<td>Thornton</td>-->
                            <!--<td>@fat</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">4</th>-->
                            <!--<td colspan="2">Larry the Bird</td>-->
                            <!--<td>@twitter</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">Small table</div>-->
                <!--<table class="table table-sm">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>#</th>-->
                        <!--<th>First Name</th>-->
                        <!--<th>Last Name</th>-->
                        <!--<th>Username</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<th scope="row">1</th>-->
                        <!--<td>Mark</td>-->
                        <!--<td>Otto</td>-->
                        <!--<td>@mdo</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th scope="row">2</th>-->
                        <!--<td>Jacob</td>-->
                        <!--<td>Thornton</td>-->
                        <!--<td>@fat</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th scope="row">3</th>-->
                        <!--<td colspan="2">Larry the Bird</td>-->
                        <!--<td>@twitter</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col col-xl-6 col-lg-12">-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">Inverse table</div>-->
                <!--<div class="card-body table-responsive">-->
                    <!--<table class="table table-inverse">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>#</th>-->
                            <!--<th>First Name</th>-->
                            <!--<th>Last Name</th>-->
                            <!--<th>Username</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<th scope="row">1</th>-->
                            <!--<td>Mark</td>-->
                            <!--<td>Otto</td>-->
                            <!--<td>@mdo</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">2</th>-->
                            <!--<td>Jacob</td>-->
                            <!--<td>Thornton</td>-->
                            <!--<td>@fat</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<th scope="row">3</th>-->
                            <!--<td>Larry</td>-->
                            <!--<td>the Bird</td>-->
                            <!--<td>@twitter</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">Striped Rows</div>-->
                <!--<div class="card-body table-responsive">-->
                    <!--<table class="table table-hover table-striped">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Page</th>-->
                            <!--<th>Visits</th>-->
                            <!--<th>% New Visits</th>-->
                            <!--<th>Revenue</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td>/index.html</td>-->
                            <!--<td>1265</td>-->
                            <!--<td>32.3%</td>-->
                            <!--<td>$321.33</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>/about.html</td>-->
                            <!--<td>261</td>-->
                            <!--<td>33.3%</td>-->
                            <!--<td>$234.12</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>/sales.html</td>-->
                            <!--<td>665</td>-->
                            <!--<td>21.3%</td>-->
                            <!--<td>$16.34</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>/blog.html</td>-->
                            <!--<td>9516</td>-->
                            <!--<td>89.3%</td>-->
                            <!--<td>$1644.43</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>/404.html</td>-->
                            <!--<td>23</td>-->
                            <!--<td>34.3%</td>-->
                            <!--<td>$23.52</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>/services.html</td>-->
                            <!--<td>421</td>-->
                            <!--<td>60.3%</td>-->
                            <!--<td>$724.32</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>/blog/post.html</td>-->
                            <!--<td>1233</td>-->
                            <!--<td>93.2%</td>-->
                            <!--<td>$126.34</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">Hoverable rows</div>-->
                <!--<table class="card-body table table-hover">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>#</th>-->
                        <!--<th>First Name</th>-->
                        <!--<th>Last Name</th>-->
                        <!--<th>Username</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<th scope="row">1</th>-->
                        <!--<td>Mark</td>-->
                        <!--<td>Otto</td>-->
                        <!--<td>@mdo</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th scope="row">2</th>-->
                        <!--<td>Jacob</td>-->
                        <!--<td>Thornton</td>-->
                        <!--<td>@fat</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th scope="row">3</th>-->
                        <!--<td colspan="2">Larry the Bird</td>-->
                        <!--<td>@twitter</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">Contextual classes</div>-->
                <!--<table class="card-body table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>#</th>-->
                        <!--<th>First Name</th>-->
                        <!--<th>Last Name</th>-->
                        <!--<th>Username</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr class="table-active">-->
                        <!--<th scope="row">1</th>-->
                        <!--<td>Mark</td>-->
                        <!--<td>Otto</td>-->
                        <!--<td>@mdo</td>-->
                    <!--</tr>-->
                    <!--<tr class="table-success">-->
                        <!--<th scope="row">2</th>-->
                        <!--<td>Jacob</td>-->
                        <!--<td>Thornton</td>-->
                        <!--<td>@fat</td>-->
                    <!--</tr>-->
                    <!--<tr class="table-info">-->
                        <!--<th scope="row">3</th>-->
                        <!--<td>Larry</td>-->
                        <!--<td>the Bird</td>-->
                        <!--<td>@twitter</td>-->
                    <!--</tr>-->
                    <!--<tr class="table-warning">-->
                        <!--<th scope="row">3</th>-->
                        <!--<td>Larry</td>-->
                        <!--<td>the Bird</td>-->
                        <!--<td>@twitter</td>-->
                    <!--</tr>-->
                    <!--<tr class="table-danger">-->
                        <!--<th scope="row">3</th>-->
                        <!--<td>Larry</td>-->
                        <!--<td>the Bird</td>-->
                        <!--<td>@twitter</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
