<div>
    <div class="form-group">
        <label class="label-form-mapamunipy">Tipo</label>
        <p-dropdown [options]="tiposDenuncia" [optionLabel]="'nombre'" [style]="{'width':'100%'}"
                    [(ngModel)]="tipoDenunciaSeleccionado" (ngModelChange)="getMotivosByTipo($event)"></p-dropdown>
    </div>

    <div class="form-group">
        <label class="label-form-mapamunipy">Motivo</label>

        <p-dropdown [options]="motivosDenuncia" [optionLabel]="'nombre'" [style]="{'width':'100%'}"
                    [(ngModel)]="motivoDenunciaSeleccionado" (ngModelChange)="filterDenuncias()"></p-dropdown>
    </div>

    <div class="form-group">
        <label class="label-form-mapamunipy">Estado</label>
        <p-dropdown [options]="estados" [optionLabel]="'nombre'" [style]="{'width':'100%'}"
                    [(ngModel)]="estadoSeleccionado" (ngModelChange)="filterDenuncias()"></p-dropdown>
    </div>

    <div class="form-group">
        <label class="label-form-mapamunipy">Filtro de tiempo</label>
        <p-dropdown [options]="filtrosTemporales" [optionLabel]="'nombre'" [style]="{'width':'100%'}"
                    [(ngModel)]="filtroTemporalSeleccionado" (ngModelChange)="setupRangeControl()"></p-dropdown>
        <p></p>
        <p-slider *ngIf="showRange" [(ngModel)]="rangeValues" [range]="true" [min]="rangeMin" [max]="rangeMax" (onChange)="rangeChange()" (onSlideEnd)="filterDenuncias()"></p-slider>
        <p *ngIf="showRange">{{ from | date: 'dd/MM/yyyy'}} al {{ to | date: 'dd/MM/yyyy'}}</p>
    </div>
    <!--(ngModelChange)="rangeChange()"-->

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <mangol [config]="config" (mapReady)="onMapReady($event)"></mangol>
</div>