<nav class="sidebar sidebar-mapamunipy" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('micuenta')">
                <span><i class="fa fa-user"></i>&nbsp; {{ 'Mi cuenta' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'micuenta'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/actualizar-datos-usuario']" [routerLinkActive]="['router-link-active']"
                           class="list-group-item">
                            <span>{{ 'Actualizar Datos' }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/cambiar-password']" [routerLinkActive]="['router-link-active']"
                           class="list-group-item">
                            <span>{{ 'Cambiar Contraseña' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>


        <!-- DENUNCIAS DEL CIUDADANO -->
        <a *ngIf="perfilCiudadano" [routerLink]="['/listar-mis-denuncias']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-bullhorn"></i>&nbsp;
            <span>{{ 'Mis Denuncias' }}</span>
        </a>

        <!-- TODAS LAS DENUNCIAS -->
        <a *ngIf="perfilFuncionario && localS.userCanEither(PERMISOS.LISTAR_DENUNCIAS, PERMISOS.CREAR_DENUNCIA_TELEFONICA, PERMISOS.VER_SEGUIMIENTO_DENUNCIA,
        PERMISOS.SEGUIR_DENUNCIA, PERMISOS.FINALIZAR_DENUNCIA, PERMISOS.CREAR_INTERVENCION)"
           [routerLink]="['/listar-denuncia']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-bullhorn"></i>&nbsp;
            <span>{{ 'Denuncias' }}</span>
        </a>


        <div *ngIf="perfilCiudadano" class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('gestion-expedientes')">
                <span><i class="fa fa-list-alt"></i>&nbsp; {{ 'Gestión de Expedientes' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'gestion-expedientes'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']"
                           class="list-group-item">
                            <span>{{ 'Guías de Trámites' }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']"
                           class="list-group-item">
                            <span>{{ 'Iniciar Trámite' }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']"
                           class="list-group-item">
                            <span>{{ 'Consultar Trámite' }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']"
                           class="list-group-item">
                            <span>{{ 'Ayuda en línea' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>


        <!-- INTERVENCIONES DE LA PMT LOGUEADA -->
        <!--<label>{{permisosUsuarioLogueado | json}}</label>-->
        <a  *ngIf="perfilFuncionario && localS.userCan(PERMISOS.CREAR_INTERVENCION)" [routerLink]="['/listar-mis-intervenciones']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-hand-paper-o fa-flip-horizontal"></i>&nbsp;
            {{ 'Mis Intervenciones' }}
        </a>

        <!-- TODAS LAS INTERVENCIONES DE LA PMT -->
        <a *ngIf="perfilFuncionario && localS.userCanEither(PERMISOS.LISTAR_INTERVENCION, PERMISOS.FINALIZAR_INTERVENCION)" [routerLink]="['/listar-intervencion']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-hand-paper-o fa-flip-horizontal"></i>&nbsp;
            {{ 'Intervenciones' }}
        </a>

        <a *ngIf="perfilFuncionario && localS.userCan(PERMISOS.LISTAR_INTERVENCION)" routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-bar-chart"></i>&nbsp;{{ 'Estadísticas' }}
        </a>

        <!-- Grupos de Usuarios -->
        <a *ngIf="perfilFuncionario && localS.userCanEither(PERMISOS.CREAR_ROLES, PERMISOS.VER_PERMISOS, PERMISOS.EDITAR_PERMISOS, PERMISOS.BORRAR_ROLES)" [routerLink]="['/roles']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-users"></i>&nbsp;
            <span>{{ 'Roles' }}</span>
        </a>

        <a *ngIf="perfilFuncionario && localS.userCanEither(PERMISOS.VER_DATASETS, PERMISOS.EXPORTAR_DATASETS, PERMISOS.GUARDAR_DATASETS)" [routerLink]="['/listar-dataset']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-database"></i>
            &nbsp;{{ 'Conjunto de Datos' }}
        </a>

        <!-- Donde ir actualizando los archivos del sistema como los datasets -->
        <a *ngIf="perfilFuncionario && localS.userCan(PERMISOS.UPLOAD_OPENDATA)" [routerLink]="['/actualizar-datos-sistema']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-upload"></i>&nbsp;
            <span>{{ 'Actualizar Datos del Sistema' }}</span>
        </a>


        <!-- MAPAS -->
        <a *ngIf="perfilFuncionario && localS.userCan(PERMISOS.SET_CALLES_TARIFADAS)" [routerLink]="['/editar-mapa-zona-tarifada']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-car"></i>
            &nbsp;{{ 'Editar Mapa de Zonas Tarifadas' }}
        </a>

        <a *ngIf="perfilCiudadano" [routerLink]="['/mapa-riesgo']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-warning"></i>
            &nbsp;{{ 'Mapa de Riesgo' }}
        </a>

        <a *ngIf="perfilCiudadano" [routerLink]="['/mapa-zona-tarifada']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-car"></i>
            &nbsp;{{ 'Mapa de Zonas Tarifadas' }}
        </a>

        <a *ngIf="perfilCiudadano" [routerLink]="['/wifi-map']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-wifi"></i>
            &nbsp;{{ 'Acceso gratuito a wifi!' }}
        </a>


        <a *ngIf="perfilFuncionario && localS.userCan(PERMISOS.LISTAR_DENUNCIAS)" [routerLink]="['/mapa-denuncias']" [routerLinkActive]="['router-link-active']"
           class="list-group-item">
            <i class="fa fa-warning"></i>
            &nbsp;{{ 'Mapa de Denuncias' }}
        </a>

        <a *ngIf="localS.userCanSomething()" [routerLink]="['/perfil']" class="list-group-item">
            <i class="fa fa-retweet"></i>
            &nbsp;{{ 'Cambiar perfil' }}
        </a>



        <a (click)="onLoggedout()" class="list-group-item logout">
            <i class="fa fa-user"></i>
            &nbsp;{{ 'Cerrar Sesión' }}
        </a>

        <!--<label>{{ localS.localS.userCan(PERMISOS.BORRAR_ROLES) }}</label>-->
        <!--<label>{{ localS.localS.userCan(PERMISOS.CREAR_DENUNCIA_TELEFONICA) }}</label>-->
        <!--<label>{{ localS.localS.userCanSomething() }}</label>-->

    </div>
</nav>
