<div >

  <h2>Mis Denuncias</h2>

  <div class="row">
    <div class="col-lg-12">

      <form role="form">

        <div class="row tabla-mapamuni">
          <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3" style="min-height: 60vh;">
              <div class="card-header">
                Lista de Mis Denuncias
                <button type="button" class="pull-right btn  btn-nueva-denuncia-mapamuni sub-label-mapamunipy" (click)="agregarDenuncia()">
                  <i class="fa fa-plus"></i> Crear Mi Denuncia
                </button>
              </div>
              <div class="card-body table-responsive">

                <p-paginator [rows]="xpag" [totalRecords]="cnt_denuncias" [rowsPerPageOptions]="[5,10,20,30]"
                             (onPageChange)="paginate($event)">
                </p-paginator>

                <table class="table">
                  <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Detalles</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="denuncias != null && denuncias.length > 0">
                  <tr *ngFor="let denuncia of denuncias; let i = index">
                    <td>
                      {{denuncia.motivo.tipo.nombre}}
                    </td>
                    <td>
                      {{denuncia.descripcion}}
                    </td>
                    <td>
                      {{denuncia.fecha_creacion | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                      {{denuncia.estado.nombre}}
                    </td>
                    <td>
                      <button type="button" class="btn  btn-editar-exportar-dataset-mapamuni" (click)="verDetalle(denuncia)">
                        <i class="fa fa-info-circle"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </form>

    </div>

  </div>
</div>
