<div >

  <h2>Asignación de Roles</h2>

      <form role="form">

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
                  <label>
                    <h1>Roles</h1>
                  </label>
                  <button type="button" class="pull-right btn  btn-nuevo-grupo-usuarios-mapamuni" (click)="agregarGrupoUsuario()">
                    <i class="fa fa-plus"></i> Crear Rol
                  </button>
                  <select class="form-control"
                          id="grupo" #selectGrupo name="grupo" [(ngModel)]="grupoSeleccionado"
                          (ngModelChange)="getGrupoSeleccionado(grupoSeleccionado)"> <!--(change)="getGrupoSeleccionado(selectGrupo.value)"-->
                    <option *ngFor="let rol of grupos"
                            [ngValue]="rol">{{rol.nombre}}
                    </option>
                  </select>
            </div>
          </div>
        </div>

        <!-- Seleccion de Usuarios -->
        <div class="row">
          <div class="col-lg-12">
            <h1>Lista de Usuarios:</h1>
            <p-pickList [source]="usuariosDisponibles" [target]="usuariosSeleccionados" [responsive]="true" sourceHeader="Usuarios Disponibles" targetHeader="Usuarios Seleccionados" [showSourceControls]="false" [showTargetControls]="false">
              <ng-template let-user pTemplate="item">
                <div class="ui-helper-clearfix">
                  <!--<img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">-->
                  <!--<div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</div>-->
                  <div>{{user.nombre}} {{user.apellido}}</div>
                </div>
              </ng-template>
            </p-pickList>
          </div>
        </div>

        <!-- Seleccion de Permisos (Multiple Selection with Checkbo)-->
        <div class="row">
          <div class="col-lg-12 contenedor-arbol-permisos">
            <h1>Lista de Permisos</h1>
            <p-tree [value]="permisosTree" selectionMode="checkbox" [(selection)]="selectedPermisos">
            </p-tree> <!--[(selection)]="selectedFiles2"-->
            <!--<p-contextMenu #cm [model]="items"></p-contextMenu>-->
            <!--<div>Selected Nodes: <span *ngFor="let file of selectedFiles">{{file.label}} </span></div>-->
          </div>
        </div>


          <button type='button' class="btn  btn-submit-mapamunipy" (click)="guardarRol()">Guardar</button>
        <button type="button" class="btn  btn-submit-mapamunipy btn-cancelar" (click)="cancelar()">Cancelar</button>

      </form>

</div>
