.btn-nuevo-grupo-usuarios-mapamuni {
  color: #fff;
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.contenedor-arbol-permisos {
  margin-top: 1%;
}

.ui-tree {
  width: 100% !important;
}

// Para ocultar sección izquierda de botones de subir, bajar, etc del picklist
.ui-picklist-source-controls {
  //display: none !important;
}

// Para ocultar sección derecha de botones de subir, bajar, etc del picklist
.ui-picklist-target-controls  {
  //display: none !important;
}

.btn-submit-mapamunipy {
  color: #fff;
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.btn-cancelar {
  margin-left: 10px;
}
