<div class="row">

    <p-fileUpload name="archivos" url="uploadService.uploadUrl" (onUpload)="onUpload($event)" (onClear)="onClearUploads()"
                  multiple="multiple" maxFileSize="10000000" withCredentials="true" chooseLabel="Abrir..." uploadLabel="Subir" cancelLabel="Cancelar" >
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{formatSize(file.size)}}
                    <button type="button" icon="pi pi-times" pButton (click)="removeFile($event,file)"></button></li>
            </ul>
            <!--<div *ngIf="uploadedFiles.length">-->
                <!--<div *ngFor="let file of uploadedFiles">-->
            <!--<div>{{file.name}}</div>-->
            <!--<div>{{formatSize(file.size)}}</div>-->
            <!--<div><button type="button" icon="pi pi-times" pButton (click)="removeFile($event,i)"></button></div>-->
                <!--</div>-->
            <!--</div>-->
        </ng-template>
    </p-fileUpload>

    <div class="col-lg-1">
        <fieldset class="form-group">
            <label class="label-form-mapamunipy">Manzanas: </label>
        </fieldset>

        <fieldset class="form-group">
            <label class="label-form-mapamunipy">Calles: </label>
        </fieldset>
    </div>

    <div class="col-lg-3">
        <fieldset class="form-group">
            <!--<label class="label-form-mapamunipy">Manzanas: </label>-->
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosManzanas" id="optionsRadiosManzanas1" value="option1" checked="" (change)="onSelectionBarriosChange(true)">Ver
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosManzanas" id="optionsRadiosManzanas2" value="option2" class="radio-mapa-riesgo-filter"(change)="onSelectionBarriosChange(false)">No Ver
            </label>
        </fieldset>

        <fieldset class="form-group">
            <!--<label class="label-form-mapamunipy">Calles: </label>-->
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosCalles" id="optionsRadiosCalles1" value="option1" checked=""  (change)="onSelectionCallesChange(true)">Ver
            </label>
            <label class="radio-inline">
                <input type="radio" name="optionsRadiosCalles" id="optionsRadiosCalles2" value="option2" class="radio-mapa-riesgo-filter"  (change)="onSelectionCallesChange(false)">No Ver
            </label>
        </fieldset>
    </div>

    <div class="col-lg-1">
        <fieldset class="form-group">
            <label class="label-form-mapamunipy">Año: </label>
        </fieldset>

        <fieldset class="form-group">
            <label class="label-form-mapamunipy">Mes: </label>
        </fieldset>
    </div>

    <div class="col-lg-3">
        <div class="form-group input-group">
            <!--<label class="label-form-mapamunipy">Año: </label>-->
            <input type="text" class="form-control" [(ngModel)]="anho_filter"  (ngModelChange)="anho_changed(anho_filter)">
            <div class="input-group-append">
                <button class="btn " type="button" (click)="sendMqttMessage(anho_filter)"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <div class="form-group input-group">
            <!--<label class="label-form-mapamunipy">Mes: </label>-->
            <input type="text" class="form-control" [(ngModel)]="mes_filter" >
            <div class="input-group-append">
                <button class="btn " type="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

</div>

<mangol [config]="config" (mapReady)="onMapReady($event)"></mangol>

<div *ngFor="let p of personas">
    {{p.nombre}}, {{p.apellido}}
</div>