.seguimiento-card {
  margin-bottom: 10px;
}

.seguimiento-container {
  margin-left: 30px;
}

.btn-seguir-denucnia {
  margin-top: 10px;
}

.btn-mapamuni {
  color: #fff;
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.btn-cancelar {
  margin-left: 10px;
}