<div>

  <h2>Detalles de Denuncia</h2>

  <!--<div class="row">-->
  <!--<div class="col-lg-6">-->
  <!--<div >-->
  <!--<div class="card" style="width: 18rem;">-->
  <!--<div class="card-body">-->
  <!--<div>-->
  <div class="col-xl-6 text-xs-center">
    <!--<div class="card mb-3">-->
    <!--<div class="card-body">-->
    <fieldset class="form-group">
      <label class="label-form-mapamunipy">Título</label>
      <input class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" disabled>
    </fieldset>
    <fieldset class="form-group">
      <label class="label-form-mapamunipy">Descripción</label>
      <textarea class="form-control" rows="3" id="descripcion" name="descripcion"
                [(ngModel)]="descripcion" disabled></textarea>
    </fieldset>
    <!--</div>-->
    <!--</div>-->
  </div>
  <div>
    <div class="col-xl-6 text-xs-center" style="min-width: 100% !important;">
      <!--<div class="card mb-3">-->
      <!--<div class="card-body">-->
      <div class="form-group">
        <label class="label-form-mapamunipy">Tipo de Denuncia</label>
        <input class="form-control" id="tipo" name="tipo" [(ngModel)]="tipo" disabled>
      </div>
      <div class="form-group">
        <label class="label-form-mapamunipy">Motivo</label>
        <input class="form-control" id="motivo" name="motivo" [(ngModel)]="motivo" disabled>
      </div>
      <!--</div>-->
      <!--</div>-->
    </div>
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <!--</div>-->
  <!--</div>-->

  <h2>Seguimiento de Denuncia</h2>
  <!--<div class="row">-->
  <hr/>
  <div class="col-xs-12 seguimiento-container">

    <div *ngFor="let seguimiento of listaSeguimiento">
      <div class="row">
        <div class=" col-xl-2" *ngIf="!seguimiento.mio"></div>
        <div class=" col-xl-10 seguimiento-card">
          <div class="card">
            <div class="card-header">
              {{seguimiento.usuario.nombre}} {{seguimiento.usuario.apellido}} comentó:
              <span class="pull-right">{{seguimiento.fecha | date: 'HH:mm:ss dd/MM/yyyy'}}</span>
            </div>
            <div class="card-body">
              <p class="card-text">{{seguimiento.comentario}}</p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr *ngIf="listaSeguimiento.length > 0" />
  <h2>Comentar en el seguimiento</h2>
  <div class="row">
    <!--<div class=" col-xl-2" *ngIf="!seguimiento.mio"></div>-->
    <div class=" col-xl-10 seguimiento-card">
      <div class="card">
        <div class="card-header">
          {{denunciante.nombre}} {{denunciante.apellido}} comenta:
          <app-now class="pull-right"></app-now>
          <!--<span class="pull-right">{{disDate | date: 'HH:mm:ss dd/MM/yyyy'}}</span>-->
        </div>
        <div class="card-body">
                    <textarea class="form-control" rows="3" id="nuevo_comentario" name="nuevo_comentario"
                              [(ngModel)]="nuevo_comentario"></textarea>

          <button type="button" class="btn  pull-right btn-seguir-denucnia btn-mapamuni" (click)="agregarSeguimiento()">Agregar comentario a la denuncia</button>
        </div>
      </div>
    </div>
  </div>


  <button type="button" class="btn  btn-mapamuni" (click)="finalizarDenuncia()">Finalizar Denuncia</button>
  <button type="button" class="btn  btn-mapamuni btn-cancelar" (click)="cancelar()">Cancelar</button>

</div>