<div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <mangol [config]="config" (mapReady)="onMapReady($event)"></mangol>

    <button type="button" class="btn  btn-submit-mapamunipy" (click)="guardarZonas()">Guardar nuevas zonas tarifadas
    </button>
</div>