<div >

  <h2>Datos Actualizables del Sistema</h2>

  <div class="row">
    <div class="col-lg-12">

      <form role="form">

        <div class="row tabla-columnas-diccionario">
          <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
              <div class="card-header">
                Lista de Datos Actualizables del Sistema
              </div>
              <div class="card-body table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Nombre del Dato</th>
                    <th>Descripción</th>
                    <th>Nombre del Archivo</th>
                    <th>Actualizar Archivo</th>
                  </tr>
                  </thead>
                  <tbody *ngIf="datosActualizables.length > 0">
                  <tr *ngFor="let dato of datosActualizables; let i = index">
                    <td>
                      {{dato.nombre}}
                    </td>
                    <td>
                      {{dato.descripcion}}
                    </td>
                    <td>
                      {{dato.nombre_archivo}}
                    </td>
                    <td>
                      <p-fileUpload [mode]="'basic'" [multiple]="false" [name]="'archivos'" [url]="uploadService.uploadUrl"
                                    [maxFileSize]="10000000" (onUpload)="onBasicUpload($event, dato)" [withCredentials]="true"></p-fileUpload>
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>

      </form>

    </div>

  </div>
</div>
