<div >

  <h2>Nuevo Rol</h2>

  <div class="row">
    <div class="col-lg-6">

      <form role="form">

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Nombre</label>
          <input class="form-control" placeholder="Nombre" [(ngModel)]="nombre" name="nombre" id="nombre">
        </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamunipy">Descripción</label>
          <input class="form-control" placeholder="Descripción" [(ngModel)]="descripcion" name="descripcion" id="descripcion">
        </fieldset>


        <button type="button" class="btn  btn-submit-mapamuni" (click)="crearGrupo()">Guardar</button>
        <button type="button" class="btn  btn-submit-mapamuni btn-cancelar" (click)="cancelar()">Cancelar</button>

      </form>

    </div>

  </div>
</div>
