<div class="login-page row">
    <!--<div class="perfil-div row">-->
    <div class="perfil">
        <div class="card perfil-card" (click)="perfilFuncionario(false)">
            <img class="card-img-top" src="/assets/images/perfil-ciudadano.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Perfil Ciudadano</h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
                <!--card's-->
                <!--content.</p>-->
                <!--<a href="#" class="btn btn-primary" [routerLink]="['/signup']">Go somewhere</a>-->
            </div>
        </div>
    </div>

    <div class="perfil">
        <div class="card perfil-card"  (click)="perfilFuncionario(true)">
            <img class="card-img-top" src="/assets/images/perfil-funcionario.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Perfil Funcionario</h5>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
                <!--card's-->
                <!--content.</p>-->
                <!--<a href="#" class="btn btn-primary" [routerLink]="['/signup']">Go somewhere</a>-->
            </div>
        </div>
        <!--</div>-->
    </div>
</div>

