<div >

  <h2>Detalle de la Denuncia</h2>

  <div class="row">
    <div class="col-lg-6">

      <div >

        <fieldset class="form-group">
          <label class="label-form-mapamuni">Tipo de la Denuncia</label>
          <input class="form-control" id="tipoDenuncia" name="tipoDenuncia" [(ngModel)]="tipoDenuncia" disabled>
        </fieldset>

          <fieldset class="form-group">
              <label class="label-form-mapamuni">Motivo de la Denuncia</label>
              <input class="form-control" id="motivoDenuncia" name="motivoDenuncia" [(ngModel)]="motivoDenuncia" disabled>
          </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamuni">Título de la Denuncia</label>
          <input class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" disabled>
        </fieldset>

        <fieldset class="form-group">
          <label class="label-form-mapamuni">Descripción la Denuncia</label>
          <textarea class="form-control" rows="3" id="descripcion" name="descripcion" [(ngModel)]="descripcion" disabled></textarea>
        </fieldset>

          <fieldset class="form-group">
              <label class="label-form-mapamuni">Denunciante</label>
              <textarea class="form-control" rows="3" id="denunciante" name="denunciante" [(ngModel)]="denunciante" disabled></textarea>
          </fieldset>

        <!--<fieldset class="form-group">-->
          <!--<label class="label-form-mapamunipy">Seleccione la ubicación de la denuncia</label>-->
          <!--<app-location-picker (locationClicked)="locationPicked($event)"></app-location-picker>-->
        <!--</fieldset>-->

        <!--<fieldset class="form-group">-->
          <!--<label class="label-form-mapamunipy">Subir archivo/s</label>-->
          <!--<p-fileUpload name="archivos" url="http://192.168.183.171:8000/api/archivo/subir" (onUpload)="onUpload($event)" (onClear)="onClearUploads()"-->
                        <!--multiple="multiple" maxFileSize="10000000" withCredentials="true" auto="true" chooseLabel="Agregar" showCancelButton="false" showUploadButton="false">-->
            <!--<ng-template pTemplate="content">-->
              <!--<ul *ngIf="uploadedFiles.length">-->
                <!--<li *ngFor="let file of uploadedFiles">{{file.name}} - {{formatSize(file.size)}}-->
                  <!--<button type="button" icon="pi pi-times" pButton (click)="removeFile($event,file)"></button></li>-->
              <!--</ul>-->
            <!--</ng-template>-->
          <!--</p-fileUpload>-->
        <!--</fieldset>-->
          <fieldset class="form-group">
              <label class="label-form-mapamuni">Fecha de Creación</label>
              <input class="form-control" id="fechaCreacion" name="fechaCreacion" value="{{fechaCreacion | date: 'dd/MM/yyyy HH:mm:ss'}}" disabled>
          </fieldset>

          <fieldset class="form-group">
              <label class="label-form-mapamuni">Estado</label>
              <input class="form-control" [(ngModel)]="estado" id="estado" name="estado" disabled>
          </fieldset>

        <button type="button" class="btn  btn-submit-mapamuni btn-cancelar" (click)="volver()">Volver</button>

      </div>

    </div>

  </div>