.btn-submit-mapamuni {
  color: #fff;
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.label-form-mapamuni {
  font-weight: bold;
}

.btn-cancelar {
  margin-left: 10px;
}
