.btn-nuevo-dataset-mapamuni {
  color: #fff;
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.btn-editar-exportar-dataset-mapamuni {
  color: #fff;
  background-color: rgba(243, 113, 39, 0.95);
  border-color: rgba(243, 113, 39, 0.95);
}

.label-css-format {
  background-color: rgba(243, 113, 39, 0.95);
}

.tabla-columnas-diccionario {
  margin-top: 2%;
}

.size-icon-mapamuni-editar-dataset {
  font-size: xx-large !important;
}