<div >

    <h2>Conjunto de Datos</h2>

    <div class="row">
        <div class="col-lg-12">

            <form role="form">

                <div class="row tabla-columnas-diccionario">
                    <div class="col col-xl-12 col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                Lista de Conjunto de Datos disponibles para exportar
                                <button type="button" class="pull-right btn  btn-nuevo-dataset-mapamuni sub-label-mapamunipy" (click)="agregarDataset()">
                                    <i class="fa fa-plus"></i> Crear Conjunto de Datos
                                </button>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Editar</th>
                                        <th>Exportar</th>
                                        <th>(sin diccionario)</th>
                                        <th>Exportar</th>
                                        <th>(con diccionario)</th>
                                    </tr>
                                    </thead>
                                    <tbody *ngIf="datasets.length > 0">
                                    <tr *ngFor="let dataset of datasets; let i = index">
                                        <td>
                                            {{dataset.nombre}}
                                        </td>
                                        <td>
                                            {{dataset.descripcion}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn  btn-editar-exportar-dataset-mapamuni" (click)="editarDataset(dataset)">
                                                <i class="fa fa-edit"></i> <!--size-icon-mapamuni-editar-dataset-->
                                            </button>
                                        </td>
                                        <td>
                                            <a href="{{datasetService.reportsUrl}}?id={{dataset.id}}&plain=true&pretty=true&formato=json&download=true" class="btn  btn-editar-exportar-dataset-mapamuni">
                                                <!--<img src="assets/images/json.png"/>-->json
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{datasetService.reportsUrl}}?id={{dataset.id}}&plain=true&formato=csv&download=true" class="btn  btn-editar-exportar-dataset-mapamuni">
                                                <!--<<img src="assets/images/csv.png"/>-->csv
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{datasetService.reportsUrl}}?id={{dataset.id}}&plain=false&pretty=true&formato=json" class="btn  btn-editar-exportar-dataset-mapamuni">
                                                <!--<img src="assets/images/json.png"/>-->json
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{datasetService.reportsUrl}}?id={{dataset.id}}&plain=false&pretty=true&formato=csv" class="btn  btn-editar-exportar-dataset-mapamuni">
                                                csv
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>
