<head>
    <style>
        p {
            font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
            font-weight: normal;
            font-size: 1.5em;
            letter-spacing: .2em;
            line-height: 1.1em;
            margin: 0px;
            text-align: center;
            text-transform: uppercase;
            color: #6A9CA7;
        }

        div {
            margin: 0 auto;
            width: 600px;
        }
    </style>
</head>
<body>
<div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>{{ mensaje | safe }}</p>
</div>
</body>