<mangol [config]="config" (mapReady)="onMapReady($event)"></mangol>

<!--<div *ngIf="apSelected">-->
    <!--<fieldset class="form-group form-group-pto-wifi-mapamunipy">-->
        <!--<label class="label-form-mapamunipy">Nombre del punto wifi</label>-->
        <!--<input class="form-control" placeholder="" readonly value="{{apSelected.descripcion}}">-->
    <!--</fieldset>-->

    <!--<fieldset class="form-group">-->
        <!--<label class="label-form-mapamunipy">Direccion</label>-->
        <!--<input class="form-control" placeholder="" readonly value="{{apSelected.detalle}}">-->
    <!--</fieldset>-->
<!--</div>-->