
.loadingMessage {
  color: #bbb;
  text-align: center;
  //background: url(../images/rohayhuve_asu.png) no-repeat;
}

.text-loadingMessage {
  color: #343a40;
}

.image-loadingMessage {
  //background: url(../../../assets/images/logo-horizontal-rohayhuveAsu.png) no-repeat;
  width: 220px;
  height: 90px;
}